.tired {
    position: fixed;
    z-index: 999999999999;
    background: #fff;
    color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tired span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.section-content {
    list-style-type: disc;
    margin-left: 20px;
}

.section-content a {
    word-break: break-all;
}

.fix-word {
    word-break: break-all;
}

.btn-post {
    display: block;
    width: 160px;
    margin: 20px auto 0;
}

.club ul li {
    margin-top: 7px;
}

.neumorphism {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.button-3d--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
}

.button-3d--sky:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
}

.button-3d--sky:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
}

.faculty .blog-content a,
.club .blog-content a {
    word-break: break-all;
    display: unset;
    transition: all 0.3s ease-in-out;
}

.faculty .blog-content a:hover,
.club .blog-content a:hover {
    color: #d63230;
}

.faculty h4,
.club h4 {
    font-size: 18px;
    text-align: center;
}

.nav-faculty li.active {
    background: #3a86ff;
    color: #fff;
}

.nav-faculty {
    margin-bottom: 30px;
}

.nav-faculty ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-faculty li {
    text-align: center;

    background: #cee5fdc7;
    color: #004289;

    display: inline-block;
    cursor: pointer;

    margin: 0 10px 20px 0;
    padding: 10px 30px;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.bg_cover-fix {
    padding: 0 0 200px 0;
}

.lottie-banner-right {
    padding-top: 70px;
    margin: 0 auto;
}

#group,
#faculty {
    background-image: url(../images/bg/section_bg1.png.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination>li>a,
.pagination>li>span {
    border-radius: 100px !important;
    margin: 0 2px;
    color: #777;
    border-color: #ddd;
}

.table-responsive {
    text-align: center;
    white-space: nowrap;
    padding-top: 20px;
}

.table-responsive thead {
    white-space: nowrap;
}

#basic-datatables tbody tr td:nth-child(2),
#basic-datatables-dt tbody tr td:nth-child(2) {
    text-align-last: left;
}

.study tbody tr td:nth-child(3),
.study tbody tr td:nth-child(4) {
    text-align-last: left;
}

.table th {
    padding: 10px 25px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_length {
    text-align: left;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 80px;
    margin: 0 5px;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
    font-size: 15px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: .5;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
    font-size: 15px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: .5;
}

label {
    margin-bottom: .7rem;
}

.input-group-addon {
    min-width: 85px;
    padding: 11px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.hidden {
    display: none;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}

.form-control:hover {
    border-color: #518ce4;
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}

.grade-btn {
    padding: 10px 15px;
    line-height: unset;
}


/* Toast */
.toast {
    position: fixed;
    z-index: 99999;
    top: 55px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    max-width: unset;
    /*font-size: unset;
    border: unset;
    backdrop-filter: unset;*/
    opacity: unset;
}

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 15px;
    font-weight: 400;
    ;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

@media (max-width: 767px) {

    .faculty h4,
    .club h4 {
        font-size: 16px;
    }

    .lottie-banner-right {
        width: 300px !important;
        height: 300px !important;
    }

    .lottie-banner-right {
        padding: unset;
    }

    .lottie-ts-right {
        width: 300px !important;
        height: 300px !important;
    }

    #group,
    #faculty {
        padding: 50px 0;
    }

    .hc-blog-img img {
        width: 100%;
    }

    .hc-blog {
        padding-bottom: 10px;
    }

    .ts-student {
        padding-bottom: 30px;
    }

    .ts-student-box {
        width: 100%;
    }

    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
        margin-top: 11px;
        margin-bottom: 10px;
    }

    div.dataTables_wrapper div div.dataTables_paginate ul.pagination li a {
        font-size: 11px;
    }

    .toast {
        max-width: 330px;
        padding: 10px 25px 10px 15px;
    }

    .message .text {
        font-size: 13px;
    }

    .toast-content .check {
        font-size: 11px;
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .lottie-banner-right {
        width: 500px !important;
        height: 500px !important;
    }

    .lottie-banner-right {
        padding: unset;
    }

    .lottie-ts-right {
        width: 300px !important;
        height: 300px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .lottie-banner-right {
        width: 450px !important;
        height: 450px !important;
    }

    .bg_cover-fix {
        padding: 0 0 300px 0;
    }
}

@media (max-width:575px) {
    .single-blog .blog-image img {
        width: 90%;
        margin: auto;
        display: block;
    }

    .df {
        margin: auto;
    }

    .hc-blog-data {
        width: 90%;
    }
}